<div class=<%= "#{episode.type.underscore}-democard" %>>
  <div class= <%= "#{episode.type.underscore}-democard-badge" %>>
    <div class= <%= "#{episode.type.underscore}-democard-icon" %>>
      <%= svg_tag "babysteps-#{episode.type.underscore}.svg" %>
    </div>
  </div>
  <div class="episode-democard-text">
    <h2 class="episode-democard-type"><%= episode.title %></h2>
    <p class="episode-democard-subtitle"><%= episode.description(episode.title) %></p>
  </div>
</div>
