<%= render 'measurements/modal', kid: @kid, measurement: Height.new %>
<%= render 'measurements/modal', kid: @kid, measurement: Weight.new %>

<div class="container">
  <div class="chart">
    <div class="chart-center">
      <%= area_chart [ { data: @heights.map{|height| [height.measured_at, height.value] } } ], xtitle: "Time", ytitle: "Height", colors: ["#FF525D", "#666"], messages: {empty: "Add some data to see your kid development"}, stacked: false, legend: false %>
    </div>
    <div class="chart-btn-margin">
      <%= link_to 'Add new height', '#', data: { target: "#modalHeight", toggle: 'modal' }, class: 'btn btn-chart btn-height' %>
    </div>
    <%= area_chart [ { data: @weights.map{|weight| [weight.measured_at, weight.value] } } ], xtitle: "Time", ytitle: "Weight", colors: ["#7396FF", "#666"], messages: {empty: "Add some data to see your kid development"}, stacked: false, legend: false %>
    <div class="chart-btn-margin">
      <%= link_to 'Add new weight', '#', data: { target: "#modalWeight", toggle: 'modal' }, class: 'btn btn-chart btn-weight' %>
    </div>
  </div>
</div>
