  <div class="row episodes-panel">
      <div class="col-12 episodes-list">
      <%= simple_form_for @kid do |f| %>
        <%= f.input :name %>
        <%= f.input :gender, collection: Kid::GENDERS %>
        <%= f.input :born_at, start_year: Date.today.year - 20, end_year: Date.today.year %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.button :submit,'Add a new kid', class: 'btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
