<div class="container">
  <% @episodes.each do |episode| %>

    <div class="row">
      <h4><%= episode.type %></h4>
      <p>
      <%= link_to "Delete this #{episode.type}", kid_episode_path(@kid, episode), method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
      <p>
      <%= link_to "Update this #{episode.type}", edit_kid_episode_path(@kid, episode) %>
      </p>
    </div>
    <div class="row">
      <h5><%= episode.tracked_at %></h5>
    </div>

    <% if episode.type == "DiaperChanging" %>
      <% episode.data.each do |key, value| %>
        <% if value == "1" %>
          <div class="row">
            <p><strong><%= "#{key}" %></strong></p>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <div class="row">
        <% episode.data.each do |key, value| %>
          <p><strong><%= "#{key}: " %></strong><%= "#{value}" %></p>
        <% end %>
      </div>
    <% end %>
  <br>
  <% end %>
</div>
