<% if @kids == [] %>
  <%= link_to 'Add a new kid', new_kid_path, class: 'btn btn-primary' %>
<% else %>
    <div class="row episodes-panel">
      <div class="col-12 episodes-list">
          <h1>Kids</h1>
            <div class="col-xs-12 col-md-4 col-lg-4 col-xl-3">
              <p>Caregiver: <%= current_user.username %></p>
              <% @kids.each do |kid| %>

                <div class="row">
                  Name: <%= link_to kid.name, kid_path(kid) %>
                  <%= link_to 'update', edit_kid_path(kid), class: 'btn btn-success' %>
                  <%= link_to 'delete', kid_path(kid), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              <% end %>
              <%= link_to 'Add a new kid', new_kid_path, class: 'btn btn-primary' %>
            </div>
          </div>
      </div>

<% end %>


