<div class="container">
  <div class="row">
    <div class="new-kid-page new-form col xs-12 col-md-8">
      <%= simple_form_for @kid do |f| %>
        <%= f.input :name %>
        <%= f.input :gender, collection: Kid::GENDERS %>
        <%= f.input :born_at, start_year: Date.today.year - 20, end_year: Date.today.year %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.button :submit,'Add a new kid', class: 'btn new-kid-btn' %>
      <% end %>
    </div>
  </div>
</div>
