<div class="container">
  <div class="row">
    <%= link_to 'Diaper Changing', new_kid_episode_path(@kid, type: "DiaperChanging") %>
  </div>

  <div class="row">
    <%= link_to 'Feeding', new_kid_episode_path(@kid, type: "Feeding") %>
  </div>

  <div class="row">
    <%= link_to 'Crying', new_kid_episode_path(@kid, type: "Crying") %>
  </div>

  <div class="row">
    <%= link_to 'Medication', new_kid_episode_path(@kid, type: "Medication") %>
  </div>

  <div class="row">
    <%= link_to 'Fever', new_kid_episode_path(@kid, type: "Fever") %>
  </div>

  <div class="row">
    <%= link_to 'Vomiting', new_kid_episode_path(@kid, type: "Vomiting") %>
  </div>

  <div class="row">
    <%= link_to 'Bruise', new_kid_episode_path(@kid, type: "Bruise") %>
  </div>

  <div class="row">
    <%= link_to 'Other', new_kid_episode_path(@kid, type: "Other") %>
  </div>
</div>
