<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
      <div class="session-card">
        <div class="session-logo">
          <%= svg_tag "babysteps-logo.svg" %>
        </div>
        <div class="session-content">
          <h1 class="session-title">Sign up</h1 class="session-title">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :username,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "username" }%>
              <%= f.input :email,
                          required: true,
                          input_html: { autocomplete: "email" }%>
              <%= f.input :password,
                          required: true,
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                          required: true,
                          input_html: { autocomplete: "new-password" } %>
            </div>

            <div class="form-actions session-btn">
              <%= f.button :submit, "Sign up" %>
            </div>
            <div class="session-options">
              <p class="option-label">Already have an account?</p>
              <%= render "devise/shared/links" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
