<div class="container p-0">
  <div class="navbar navbar-expand-md navbar-light navbar-lewagon">
    <div class="navbar-content">
      <div class="navbar-kid-genmenu">
        <%= link_to "#", class: "navbar-kid" do %>
          <% if controller_name == "kids" && action_name == "new" %>
            <h1>Add a New Child</h1>
          <% elsif controller_name == "pages" && action_name == "your_profile" %>
            <h1>Your Profile</h1>
          <% elsif controller_name == "pages" && action_name == "about" %>
            <h1>BabySteps Team</h1>
          <% elsif controller_name == "pages" && action_name == "help" %>
            <h1>Help</h1>
          <% elsif @kid ==  nil%>
        <% elsif @kid.photo.url %>
          <%= cl_image_tag @kid.photo %>
          <% else  %>
            <%= image_tag "babysteps-avatar.svg" %>
          <% end %>
        <h1 class="current-kid-name"><%= @kid ? @kid.name : "" %></h1>
        <% end %>
      </div>

      <% if @kid && @kid.persisted? %>
        <div class="kid-menu">
          <%= link_to 'tracking', tracking_kid_path(@kid.id), class: current_class?(tracking_kid_path(@kid.id)) %>
          <%= link_to 'full log', full_log_kid_path(@kid.id), class: current_class?(full_log_kid_path(@kid.id)) %>
          <%= link_to 'chart', chart_kid_path(@kid.id), class: current_class?(chart_kid_path(@kid.id)) %>
          <a class="kid-menu-item" href="">share</a>
        </div>
      <% end %>
    </div>
  </div>
</div>
