<div class="sidebar-drawer" id="drawer">
  <button id="drawer-button" class="d-lg-none drawer-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>
  <div class="display-fig">
    <%= svg_tag "babysteps-feeding.svg" %>
  </div>
  <div class="display-links-kids">
    <div>
      <%= link_to "Sophia",  kids_path, class: "sidebar_kids_link" %>
    </div>
    <div>
      <%= link_to "Christopher",  kids_path, class: "sidebar_kids_link" %>
    </div>
    <div>
      <%= link_to "Emma",  kids_path, class: "sidebar_kids_link" %>
    </div>
  </div>
  <div class="display-links">
    <div>
      <%= link_to "Your Profile",  kids_path, class: "sidebar_actions_link" %>
    </div>
    <div>
      <%= link_to "Add a New Kid",  kids_path, class: "sidebar_actions_link" %>
    </div>
    <div>
      <%= link_to "Send Invitation",  kids_path, class: "sidebar_actions_link" %>
    </div>
  </div>
  <div class="display-links">
    <div>
      <%= link_to "BabySteps Team",  kids_path, class: "sidebar_actions_link" %>
    </div>
    <div>
      <%= link_to "Help",  kids_path, class: "sidebar_actions_link" %>
    </div>
  </div>
</div>
