<div id="shader" class="shader"></div>
<div class="sidebar-drawer" id="drawer">
  <button id="drawer-button" class="d-lg-none drawer-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>
  <div class="display-fig">
    <%= svg_tag "babysteps-logo-negative.svg" %>
  </div>

  <div class="display-links-kids">
    <div class="kid-link-box">
      <% current_user.kids.each do |kid| %>
        <% is_active = @kid.id == kid.id ? "active" : "" if @kid %>
        <%= link_to kid.name,  tracking_kid_path(kid), class: "sidebar_kids_link #{is_active}" %>
      <% end %>
    </div>
  </div>

  <div class="display-links">
    <% is_your_profile = request.original_url.include?("pages/your_profile") ? "active" : "" %>
    <div class="user-link-box <%= is_your_profile %>">
      <%= link_to "Your Profile",  pages_your_profile_path, class: "sidebar_actions_link" %>
    </div>
    <% is_child_list = (request.original_url.include?("kids") && !request.original_url.include?("kids/new") && !request.original_url.include?("tracking") && !request.original_url.include?("full_log") && !request.original_url.include?("chart") && !request.original_url.include?("share")) ? "active" : "" %>
    <div class="user-link-box <%= is_child_list %>">
      <%= link_to "Your Child’s List",  kids_path, class: "sidebar_actions_link" %>
    </div>
    <% is_new_kid = request.original_url.include?("kids/new") ? "active" : "" %>
    <div class="user-link-box <%= is_new_kid %>">
      <%= link_to "Add a New Child",  new_kid_path, class: "sidebar_actions_link" %>
    </div>
    <div class="user-link-box">
      <%= link_to "Send Invitation",  kids_path, class: "sidebar_actions_link" %>
    </div>
  </div>
  <div class="display-links">
    <div class="bs-link-box">
      <%= link_to "BabySteps Team",  pages_about_path, class: "sidebar_actions_link" %>
    </div>
    <div class="bs-link-box">
      <%= link_to "Help",  pages_help_path, class: "sidebar_actions_link" %>
    </div>
      <div class="bs-link-box">
      <%= link_to "Log out",  destroy_user_session_path, class: "sidebar_actions_link", method: :delete %>
    </div>
  </div>
</div>
