<div class="row episodes-panel">
  <div class="col-xs-12 episodes-list">
    <div><%= render 'components/episode_card' %></div>
    <div><%= render 'components/episode_card' %></div>
    <div><%= render 'components/episode_card' %></div>
    <div><%= render 'components/episode_card' %></div>
    <div><%= render 'components/episode_card' %></div>
    <div><%= render 'components/episode_card' %></div>
    <div><%= render 'components/episode_card' %></div>
    <div><%= render 'components/episode_card' %></div>
  </div>
</div>
