<div class="row episodes-panel">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <div class="col-xs-12 episodes-list">
    <div><%= render 'components/episode_card_diaper_changing' %></div>
    <div><%= render 'components/episode_card_feeding' %></div>
    <div><%= render 'components/episode_card_crying' %></div>
    <div><%= render 'components/episode_card_medication' %></div>
    <div><%= render 'components/episode_card_fever' %></div>
    <div><%= render 'components/episode_card_vomiting' %></div>
    <div><%= render 'components/episode_card_bruise' %></div>
    <div><%= render 'components/episode_card_other' %></div>
  </div>
</div>

<!-- MODALS -->
