<div class="row episodes-panel-profile">
  <div class="col-12 episodes-list-profile">
       <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
        <h1>Username: <%= @user.username %></h1>
        <h1>Email: <%= @user.email %></h1>
        <%= link_to "Edit",  edit_user_registration_path, class: "btn btn-flat" %>
        <%= link_to "Return",  "#", class: "btn btn-gradient" %>
  </div>
</div>
