<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= render 'shared/head' %>
    <link rel="shortcut-icon" type="image/ico" href="images/babysteps-favicon.ico">
    <%= display_meta_tags site: 'BabySteps. Tracking is caring.' %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= javascript_include_tag 'application' %>
    <link rel="manifest" href="/manifest.json" />
<meta name="apple-mobile-web-app-capable" content="yes"></head>
  <body>
    <% exclude_navbar_from_views = ['sessions', 'passwords', 'registrations'] %>
    <% if exclude_navbar_from_views.include?(controller_name) || controller.action_name == "home" || controller.action_name == "share" %>
      <%= yield %>
    <% else %>
      <div class="container-sidebar">
        <%= render 'shared/sidebar' %>
          <div class="main">
             <div class="rownav">
                <%= render 'shared/navbar' %>
             </div>
             <div class="rowcontent">
              <%= render 'shared/flashes' %>
              <%= yield %>
             </div>
          </div>
      </div>
    <% end %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
